Repository MapChillE/uble-be, pull requests merged in 2025-08, with the labels that each got.

#158 [Fix] SslEnable 설정
  src/main/java/com/ureca/uble/global/config/RedisConfig.java
Labels: fix

#157 [Fix] auth check 쿠키 추가
  src/main/java/com/ureca/uble/domain/admin/service/AdminService.java
  src/main/java/com/ureca/uble/domain/auth/service/AuthService.java
  src/main/java/com/ureca/uble/global/security/jwt/JwtProvider.java
  src/test/java/com/ureca/uble/domain/admin/service/AdminServiceTest.java
Labels: fix, test, BE

#160 [Feat] 가장 가까운 제휴처 바로가기 API 구현
  src/main/java/com/ureca/uble/domain/brand/controller/BrandController.java
  src/main/java/com/ureca/uble/domain/brand/dto/response/BrandDetailRes.java
  src/main/java/com/ureca/uble/domain/brand/dto/response/GetNearestStoreRes.java
  src/main/java/com/ureca/uble/domain/brand/exception/BrandErrorCode.java
  src/main/java/com/ureca/uble/domain/brand/service/BrandService.java
  src/main/java/com/ureca/uble/domain/store/repository/CustomStoreRepository.java
  src/main/java/com/ureca/uble/domain/store/repository/CustomStoreRepositoryImpl.java
  src/main/java/com/ureca/uble/entity/Store.java
  src/test/java/com/ureca/uble/domain/brand/service/BrandServiceTest.java
Labels: test, feat, BE

#162 [Fix] 어드민 검증 API 수정
  src/main/java/com/ureca/uble/domain/admin/controller/AdminController.java
  src/main/java/com/ureca/uble/domain/admin/service/AdminService.java
  src/main/java/com/ureca/uble/global/config/SecurityConfig.java
  src/test/java/com/ureca/uble/domain/admin/service/AdminServiceTest.java
Labels: fix, test, BE

#168 [Feat] S2 라이브러리 적용 및 클러스터링
  build.gradle
  src/main/java/com/ureca/uble/domain/store/repository/CustomStoreRepository.java
  src/main/java/com/ureca/uble/domain/store/repository/CustomStoreRepositoryImpl.java
  src/main/java/com/ureca/uble/domain/store/service/StoreService.java
  src/main/java/com/ureca/uble/entity/Store.java
  src/test/java/com/ureca/uble/domain/store/service/StoreServiceTest.java
Labels: fix, test, BE

#172 [Fix] admin 관련 cors 설정
  src/main/java/com/ureca/uble/global/config/SecurityConfig.java
Labels: fix, BE

#180 [feat] 매장 클러스터링 캐싱 로직 추가
  src/main/java/com/ureca/uble/domain/store/dto/response/EmptyStoreRes.java
  src/main/java/com/ureca/uble/domain/store/dto/response/GetStoreRes.java
  src/main/java/com/ureca/uble/domain/store/dto/response/StoreCacheResult.java
  src/main/java/com/ureca/uble/domain/store/repository/CustomStoreRepositoryImpl.java
  src/main/java/com/ureca/uble/domain/store/service/StoreService.java
  src/test/java/com/ureca/uble/domain/store/service/StoreServiceTest.java
Labels: test, feat, BE
